{% extends "layout.html" %}

{% block content %}

<div class="container">
        <div class="row">
                <div class="col-md-8" id="main-content">
                  <h1>List of Shopping Carts</h1>
                    <ul>
                        {% for shoping_cart in all_shopping_cart_pages %}
                            {{ shoping_cart.title }}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4" id="toc-wrapper">
                    <div class="col-md-12">
                        <h2>Platform</h2>
                        <ul>
                            <li>Shopfiy</li>
                            <li>Hybris</li>
                            <li>Demandware</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                            <h2>Self Hosted</h2>
                            <ul>
                                <li>Magento</li>
                                <li>Prestatshop</li>
                            </ul>
                        </div>             
                </div>
              </div>
</div>
{% endblock content %}